*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@media (min-width : 500px){

    .first-page header nav{
        height: 10vh;
        width: 100%;
        position: fixed;
        top: 0;
    }


    .third-page .container .text{
        margin-top: 10em;
    }

    .third-page .container .alert-picture img{
        height: 3em;
        width: 3em;
        margin: 1rem;
        font-size: 10em;
    }

    .fourth-page .container section{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }


    .fourth-page .container section .image img{
        height: 100%;
        width: 40%;
        margin-left: 15em;
    }

    .lost-page .container section .text{
        margin-left: 20em;
    }
}



/* Media Queries For Small Screens */
@media (max-width : 499px){
    .first-page header nav{
        height: 15vh;
        width: 100%;
        position: fixed;
        top: 0;
    }
}