*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (min-width : 500px){
    .third-page .container{
        display: flex;
    }

    .third-page .container .text{
        margin-top: 10em;
    }

    .third-page .container .alert-picture img{
        height: 3em;
        width: 3em;
        margin: 1rem;
        font-size: 10em;
    }
}