*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Styles For the First Page */
.first-page{
    background-image: url(./assets/bg-picture.jpg);
    height: 70vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    display: grid;
}

.overlay{
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    opacity: 40%;
}

.first-page header{
    height: 20%;
    width: 100%;
}

.first-page header nav{
    display: flex;
    justify-content: space-between;
    background-color: #cccc;
}

.first-page header nav .social-links{
    margin-top: 1em;
}

.first-page header nav i{
    font-size: 2rem;
    padding: 10px;
}

.first-page header nav  .logo img{
    height: 4em;
    width: 4em;
    
    border-radius: 50%;
}



/* Styles For The Second Page */
.second-page{
    overflow-x: hidden;
}


.first-images img:nth-child(3){
    font-size: 10em;
}

.first-images img:nth-child(3){
    height: 2em;
    width: 3em;
    margin: 1rem;
}

/* Styles For the third Page */






/* Styles For the Fourth Page */





/* Styles For the fifth-page */
.fifth-page .container section .text p:last-child{
    font-size: .9rem;
    color: grey;
}


/* Styles For the Last Page */
.last-page .container section{
    background-image: url(./assets/footer-image.jpg);
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;

}

.last-page .container section .overlay{
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    opacity: 40%;
}

.last-page .container section  .text{
    padding-top: 8em;
}

.last-page .container section .text p{
    font-weight: 800;
    opacity: 100%;
}


.last-page .container section .text button{
    font-weight: 700;
}

/* Few Styles For the Footer */
footer p{
    font-weight: 500;
}







/* Styles For the App Landing Page */
header nav{
    background-color: #cccc;
    width: 100vw;
}

header nav .nav-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .left-side-bar .menu-bar i{
    font-size: 2.4rem;
}

header nav .left-side-bar .logo img{
    height: 2.5em;
    border-radius: 50%;
    
}

header nav .right-side-bar i{
    font-size: 2rem;
}



.search-bar form button{
    margin-top: .2em;
}